.body-container {
    width: 90dvw;
    margin: 0 auto;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    width: 100%;
    gap: 48px 24px;
}

.flex-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-pal {
    display: flex;
    width: 100%;
    height: 5rem;
    gap: 1rem;
    background-color: beige;
}

img {
    width: 5rem;
    height: 5rem;
}

.cell-num {
    white-space: nowrap;
    text-align: right
}

/* CRIME  data-table sticky-header block-wide*/
td {
    text-align: center;
}
table {
    margin: 0 auto 1rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.data-table th,
.data-table td {
    vertical-align: middle;
    border-width: 1px 0;
    border-style: solid;
    border-color: #dbdbdb
}

.data-table th {
    padding: 8px 10px;
    background-color: #ebebe5;
    text-align: left;
    white-space: nowrap
}

.data-table th:nth-child(n+2) {
    border-left-width: 1px
}

.data-table tr.hidden {
    display: none
}

.data-table tr.highlight {
    background-color: #e0fffd
}

.data-table tr:hover {
    background-color: #fff9e0
}

.data-table .cell-grid {
    border-width: 1px
}

.data-table .sorting {
    cursor: pointer;
    text-decoration: underline
}

.data-table .sorting-asc,
.data-table .sorting-desc {
    background-color: #ecdfec
}